



#information{
    background: palegoldenrod;
}

#contact{
    background:orangered;
}

#contact h3{
    background-color: black;
    color: yellow;
}

.style-text01{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: fuchsia;
    font-size: 50px;
}

.style-box01{
    background: palegreen;
}

